.ticket-list {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin-block: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;

    .title {
      font-size: 2rem;
      font-weight: 700;
    }

    .description {
      margin-block: 0.5rem;
    }
  }
}

form {
  margin-block: 2rem;
  max-width: 40rem;

  div {
    margin-block: 1rem;
  }

  label {
    display: block;
    margin-bottom: 0.4rem;
  }

  input,
  textarea {
    width: 100%;
    padding: 0.8rem 1rem;
  }

  textarea {
    height: 10rem;
  }

  button {
    width: 100%;
    padding: 0.8rem 1rem;
  }
}

.comments {
  margin-block: 1rem;
}

.comment-item {
  margin-block: 0.5rem;
  padding: 0.8rem 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.status {
  margin-block: 0.5rem;
}
